body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.conteiner{
	margin: 0 auto; 
	display: flex;
	justify-content: center;
}

.header{
	top: 0;
	left: 0;
}

.name{
	padding: 20px 0;  
	font-size: 40px;
	font-weight: 400;
}

.status{
	font-size: 23px;
	padding-bottom: 50px;
}

.fot{
	width: 300px;
}

.item_right{ 
	display: block;
	justify-content: center;
    width: 60%;
    max-width: 1205px;
    padding-left: 150px;
    padding-right: 30px;
    margin: auto;
}

aside {
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
	left: 0;
    background-color: #212123;
    overflow-x: hidden;
 }

 .contact{
 	padding: 0 30px;
 }
 .c_title{
 	color: #fff;
 	text-transform: uppercase;
 	font-weight: 400;
 	font-size: 25px;
 	padding: 18px 0;
 	border-bottom: 1px solid #fff;
 	opacity: 0.7;
 }
.contact_s{
	color: #fff;
 	opacity: 0.7;
 	font-size: 18px;	
}
.point{
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}

.main{
	display: block;
}

.m_title{
	text-transform: uppercase;
	padding: 20px 0;
	border-bottom: 2px solid #212123;
	font-size: 18px;
}

.m_text{
	font-size: 18px;
}

.footer{
	margin-top: 40px;
	border-top: 2px solid #212123;
	display: flex;
}

.link{
	padding: 20px 0;
	width: 50%;
}
.git{
	text-decoration: none ;
	color: #212123;
	font-size: 16px;
	transition: opacity .1s linear;
}

.god{
	font-size: 15px;
	font-weight: 100;
}

.kurs{
	text-decoration: none ;
	color: #212123;
	font-size: 16px;
}

.logo{
	padding: 20px 0;
	width: 50%;
}

.rs_fot{
	width: 200px;
	float: right;
}
